@import 'utils';

.post-info {
    background: white;
    height: 24rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .info {
        margin-top: -5rem;
        width: 1024px;
        padding: 1rem;
        h1 {
            font-weight: 300;
            font-size: 3rem;
            margin: 0;
            word-wrap: break-word;
            color: black;
        }
        .tag {
            margin-top: 1rem;
            font-size: 1.25rem;
            font-weight: 500;
            color: $oc-red-5;
            a {
                &:hover {
                    text-decoration: none;
                    cursor: pointer;
                    color: $oc-red-7;
                }
            }
            a + a {
                margin-left: 0.25rem;
            }
        }
        .date {
            text-align: right;
            opacity: 0.75;
            font-style: italic;
            font-size: 1.25rem;
            color: $oc-gray-5;
        }
    }
    @include media("<large") {
        .info {
            h1 {
                font-size: 2rem;
            }
            .tag, .date {
                font-size: 1rem;
            }
            width: 768px;
        }
    }
    @include media("<medium") {
        height: auto;
        padding-bottom: 4rem;
        .info {
            padding-top: 0;
            margin: 0;
            .tag {
                margin-top: 0.25rem;
            }
            .tag, .date {
                font-size: 8.85rem;
            }
        }
    }
}