@import 'utils';

.button {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-weight: 600;
    font-size: 0.9rem;
    color: $oc-red-5;
    cursor: pointer;
    user-select: none;
    display: inline-flex;

    &.default {
        background: white;
        &:hover {
            background: $oc-red-5;
            color: white;
        }
        &:active {
            background: $oc-red-5;
        }
    }

    &.gray {
        background: $oc-gray-7;
        &:hover {
            background: $oc-gray-6;
        }
        &:active {
            background: $oc-gray-7;
        }
    }

    &.outline {
        border: 2px solid $oc-red-5;
        border-radius: 2px;
        &:hover {
            background: $oc-red-5;
            color: white;
        }
        &:active {
            background: rgba($oc-red-5, 0.85);
            border: 2px solid rgba($oc-red-5, 0.85);
        }
    }

    &.hover {
        @include material-shadow(2, 0.5);
    }

    &.disabled {
        background: white;
        color: $oc-gray-6;
        cursor: default;
        &:hover, &:active {
            box-shadow: none;
            background: white;
            color: black;
        }
    }

    & + & {
        margin-left: 0.5rem;
    }
}